### Домашнее задание к лекции «Функции и работа с данными»

##### Оглавление
[Задание 1.](#task1)   
[Задание 2.](#task2)

<h5 style="color:Red">Задание 1.</h5><a id='task1'></a> - Напишите функцию, которая классифицирует фильмы по следующим правилам:
- оценка 2 и меньше - низкий рейтинг  
- оценка 4 и меньше - средний рейтинг  
- оценка 4.5 и 5 - высокий рейтинг  

Результат классификации запишите в столбец class

In [2]:
import pandas as pd

In [3]:
ratings = pd.read_csv('ratings.csv', encoding = 'UTF-8') #открываем таблицу с рейтингами
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [4]:
movies = pd.read_csv('movies.csv', encoding = 'UTF-8') #открываем таблицу с фильмами 
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [5]:
merged = ratings.merge(movies[['movieId', 'title']], on = 'movieId', how = 'left') #объединяем по идентификатору фильма

In [6]:
average = merged[['movieId','title', 'rating']].groupby(['movieId', 'title']).mean().round(decimals = 2) #определяем среднее значение рейтинга
average.head()

                                            rating
movieId title
1       Toy Story (1995)                      3.87
2       Jumanji (1995)                        3.40
3       Grumpier Old Men (1995)               3.16
4       Waiting to Exhale (1995)              2.38
5       Father of the Bride Part II (1995)    3.27

In [7]:
#функция для классификации рейтинга
def movie_rating(rating):
    if rating <= 2:
        return 'Низкий рейтинг'
    elif rating <= 4:
        return 'Средний рейтинг'
    elif rating == 4.5 or rating == 5.0:
        return 'Высокий рейтинг'

In [9]:
average['class'] = average['rating'].apply(movie_rating) #создаем столбец класс и применяем функцию
average.tail()

,,rating,class
movieId,title,,
161944,The Last Brickmaker in America (2001),5.0,Высокий рейтинг
162376,Stranger Things,4.5,Высокий рейтинг
162542,Rustom (2016),5.0,Высокий рейтинг
162672,Mohenjo Daro (2016),3.0,Средний рейтинг
163949,The Beatles: Eight Days a Week - The Touring Years (2016),5.0,Высокий рейтинг

<h5 style="color:Red">Задание 2.</h5><a id='task2'></a> - Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

In [11]:
geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [12]:
keywords = pd.read_csv('keywords.csv', encoding = 'UTF-8')
keywords.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [13]:
def classificator(keyword):
    for reg, value in geo_data.items():
        for city in value:
            if city in keyword:
                return reg
    return 'undefined'

In [14]:
keywords['region'] = keywords['keyword'].apply(classificator)
keywords.head(10)

                      keyword     shows     region
0                          вк  64292779  undefined
1               одноклассники  63810309  undefined
2                       порно  41747114  undefined
3                        ютуб  39995567  undefined
4                   вконтакте  21014195  undefined
5  одноклассники моя страница  19976138  undefined
6                        майл  15144673  undefined
7                       авито  14786593  undefined
8                  переводчик  14453469  undefined
9                      яндекс  13344734  undefined